body{
    background-color: black;
}
h1{
    color: rgb(249, 197, 41);
}
p{
    color: azure;
}
#p1{
    color: aquamarine;
}
#p2{
    color: aqua;
}
.odd{
    color: rgb(242, 136, 215);
}
.even{
    color: rgb(191, 112, 51);
}
.body{
    background-color: rgb(253, 235, 230);
    font-family: Garamond;
}
#hh1 {
    color:  rgb(245, 188, 19);
    font-size: 3em;
}
#pp1 {
    color: black;
    font-family: 'Courier New';
}
#pp2 {
    color: black;
    font-family: Agbalumo;
}
#pp3 {
    color: black;
    font-family: Edu TAS Beginner;
}
.body2{
    background-color: bisque;
}
#hw3{
    font-family: Agbalumo;
}
.a1{
    font-family: Edu TAS Beginner;
}
#wp1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-style: double; 
    border-width: 4px;
    border-color: black;
    border-radius: 4px;
}
.body3{
    background-color: azure;
    margin: 0px;
}
#hw4 {
    text-shadow: 5px 6px 5px rgb(168, 145, 13);
}
#box{
    width: 200px;
    height: 150px;
    background-color: black;
    box-shadow: 5px 6px 50px rgb(11, 11, 11);
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 50px;
}
#box1{
    width: 200px;
    height: 150px;
    background-color: black;
    box-shadow: 5px 6px 50px rgb(11, 11, 11);
    border-radius: 20px;
    margin: auto;
}
#body4{
    background-color:bisque;
    border: 2px solid;
    display: flow-root;
}
#wp2{
    color: black;
    margin-left: 10px;
}
#tag{
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
#batch4{
    float: right;
    margin-right: 10px;
}